<% if resource.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% resource.errors.full_messages.each do |message| %>
      <strong>エラー！</strong> - <%= message %><br>
    <% end %>
  </div>
<% end %>
