<div class="container my-5">
  <div class="row">
    <div class="col-lg-2">
      <div class="bg-white left-menu">
        <%= render "layouts/left_menu" %>
      </div>
    </div>
    <div class="col-lg-6">
      <%= render 'form', url: "/events/create" %>
    </div>
    <div class="col-lg-4">
      <div class="py-5 px-5 bg-primary">
        k
      </div>
    </div>
  </div>
</div>
