<div class="side-bar h-100">
  <div class="d-flex flex-column flex-shrink-0 p-3">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item-left nav-item">
        <a href="/posts" class="nav-link-left nav-link">
          ホーム
        </a>
      </li>
      <li class="nav-item-left nav-item">
        <a href="/posts/new" class="nav-link-left nav-link">
          新規投稿
        </a>
      </li>
      <li class="nav-item-left nav-item">
        <a href="#" class="nav-link-left nav-link">
          プロフィール
        </a>
      </li>
    </ul>
  </div>
</div>
