<h2>こんにちは！ <%= @email %></h2>
<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスがことらに変更されました。 <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>メールアドレスがことらに変更されました。 <%= @resource.email %>.</p>
<% end %>
