<h2>こんにちは！ <%= @resource.email %></h2>
<p>こちらのリンクからパスワードの変更ができます。</p>
<p><%= link_to 'パスワードを更新', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>パスワード変更リクエストを送信した覚えがない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されませんのでご注意ください。</p>
